@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Authentication

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        @if (!User.Claims.Any())
        {
            <h1 class="display-4">Пожалуйста <a asp-area="" asp-controller="Home" asp-action="LogIn">авторизуйтесь.</a> </h1>
        }
    </div>